name: Build PDF

on:
  push:
    branches: [ main, setup/* ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex
          latexmk_use_xelatex: true

      - uses: actions/upload-artifact@v4
        with:
          name: main-pdf
          path: dist/main.pdf
